html, body{
    height:100%;
  }
  .uk-logo, .uk-logo:hover, .uk-logo:active, .uk-logo:visited {
      color: #000;
  }
  .uk-navbar-nav > li > a,
  .uk-navbar-item,
  .uk-navbar-toggle {
    min-height: 44px !important;

  }
  .uk-navbar-toggle, .uk-navbar-toggle:hover, .uk-navbar-toggle:active, .uk-navbar-toggle:visited {
      color: #000;
      padding-top: 2px;
  }
  .user > #name {
      font-size: 22px;
  }
  .header {
      box-sizing: border-box;
      border-bottom: 1px #e5e5e5 solid;
  }
  .content-padder {
      margin-left: 0px;
  }
  .content-background {
      min-height: calc(100% - 80px);
      background-color: #F0F0F0;
  }
  .statistics-text {
      font-size: 25px;
  }
  .statistics-number {
      font-size: 50px;
  }


  .tm-sidebar-left {
      position: fixed;
      z-index: 100;
        width: 200px!important;
      bottom: 0;
      box-sizing: border-box;
      padding: 40px 0px 60px 0px;
      border-right: 1px #e5e5e5 solid;
      overflow-y: auto;
      overflow-x: hidden;
  }
  .tm-sidebar-left::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }

  .tm-sidebar-left::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
  }

  .tm-sidebar-left::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #bdbdbd;
  }

  .tm-sidebar-right {
      position: absolute;
      top: 0;
      left: calc(100% + 0px);
      width: 200px
  }
  @media(max-width: 960px) {
      .tm-sidebar-left {
          opacity: 0;
      }
  }

  @media (min-width: 960px) {
      .content-padder {
          margin-left: 240px;
      }
  }
  @media (min-width: 1200px) {
      .tm-sidebar-right {
          left: calc(100% + 0px);
      }
      .tm-sidebar-left+.tm-main {
          padding-left: 40px;
          opacity: 0 !important;
      }
  }
  @media (min-width: 1400px) {
      .tm-sidebar-left {
          width: 300px !important;
          padding: 45px 45px 60px 45px
      }
      .tm-sidebar-right {
          left: calc(100% + 60px)
      }
      .tm-sidebar-left+.tm-main {
          padding-left: 40px
      }
      .content-padder {
          margin-left: 300px;
      }
  }

  /* ::-webkit-scrollbar { width: 7px; }
  ::-webkit-scrollbar-track-piece { background-color: #f0f0f0; */
  /*this can also be transparent}*/
  /* ::-webkit-scrollbar-thumb:vertical {
      width: 1px;
      background-color: #1e87f0;
      border-top: 4px solid #f0f0f0;
      border-right: 3px solid #f0f0f0;
      border-bottom: 4px solid #f0f0f0;
      border-left: 3px solid #f0f0f0;
  } */
  /* ::selection {
    background-color: #d1eefe;
    color: #1e87f0;
  } */
  /* ::moz-selection {
   background-color: #d1eefe;
   color: #1e87f0;
  } */

  .ps-navbar-container{
      background-color: #fff!important;
      color: #000!important;
      box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.1);

  }
.ps-bg{
    margin: 0 !important;
    background: #1C212E;
    top: 15px;
    width: 200px;
}

.ps-admin-bg{
    border-radius: 5px!important;
}
.sidebar-nav > .menu-home a, .sidebar-nav > .menu-report a, .sidebar-nav > .menu-products a{
    color:#fff!important;
    padding: 5px 15px;
    text-align: left;
    margin: 0!important;
    line-height: 1em;
    height: 1em;
}

.sidebar-nav > li.selected a, .sidebar-nav > li.selected a{
    color:#fff;
    background-color: #293144;

}
.uk-btn-green{
    background-color: #218E3A!important;
}

.ps-text-light{
    color: #fff!important;
}

.ps-border-cv{
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
}

.ps-btn-cv{
    border-radius: 5px!important;
}
.ps-padding-5{
    padding: 5px!important;
}
#jump2rec{
    float: left;
    height: 31px;
    line-height: 30px;
    margin: 0px 5px;
    border: 1px solid #ddd;
    padding: 0px 5px;
}

.edit-table .link{
    color: #fff !important;
    background-color: #e53b14;
    border: 1px solid #e53b14;
    transition: .1s all;
}

.input-clear{
    visibility:hidden;
    cursor:pointer;
}
.inner-wrap{
    display:inline-block;
}